h2{
    font-size: 2em;
    text-decoration: underline;
    color: #000000;
    margin-top: 1em;
    margin-bottom: 2em;
    margin-left: 1em;
}

.BloquePrincipalDiv
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 1.5em;
    width: auto;
    font-size: 1.2em;
}
  
form > div {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Puedes ajustar el valor según sea necesario */
    margin-right: 20px;
}
  
label {
    width: 100px; /* Puedes ajustar el valor según sea necesario */
    text-align: right;
    margin-right: 10px; /* Puedes ajustar el valor según sea necesario */
}

#problema{
    height: 4em;
    width: 18em;
}
.FormularioInfoDiv{
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin-bottom: 2em;
}
.FormularioDiv {
    display: flex;
    background-color: bisque;
    border-radius: 1em;
    align-items: center;
    justify-content: center;
    padding: 1em; /* Add padding to give some space around the content */
    width: fit-content;
    
}

.InfoExtraDiv{
    display: flex;
    align-items: center;
    text-align: center;
    width: 23em;
}

.ImagenContactoDiv{
    display: flex;
}

#agente{
    width: 20em;
    height: 20em;
}

.form-submit-button{
	background: #F1F1F1;
	border-radius: 20px;
    width: 10em;
    height: 2em;
}

.BloqueSecundarioDiv
{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
    justify-content: space-around;
    
}

.MapaDiv
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2em;
}

#Mapa{
    width: 30em;
    height: 20em;
}   

h3{
    text-align: center;
    font-size: 1.17em;
}

.AcercaDeDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 2em;
}

#masInfo{
    color: #000000;
}

.error {
    background-color: #ff7d7d7d;
  }