.TituloDiv{
    display: flex;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 2em;
}

h2{
    font-size: 2em;
    text-decoration: underline;
    color: #000000;
}

.BloquePrincipalDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ImagenInfoDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 4em;
    margin-right: 2em;
}

#ImagenSala{
    width: 50em;
    height: 30em;
}

.TextoInfDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
}

.TituloFormularioDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: auto;
    margin-left: 5em;
}

.TituloFormDiv{
    text-align: center;
    text-decoration: underline;
    font-size: 1.5em;
}

.FormularioDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: bisque;
    width: 22em;
    border-radius: 1em;
    height: 23em;
    font-size: 1.2em;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 1.5em;
}
  
form > div {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Puedes ajustar el valor según sea necesario */
}
  
label {
    width: 100px; /* Puedes ajustar el valor según sea necesario */
    text-align: right;
    margin-right: 10px; /* Puedes ajustar el valor según sea necesario */
}

.HorasDispDiv{
    flex-direction: column;
    margin-left: 2em;
}

.InfoExtra{
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 50%;
}

.form-submit-button {
	background: #F1F1F1;
	border-radius: 20px;
    width: 10em;
    height: 2em;
}

.error {
    background-color: #ff7d7d7d;
}