.TituloDiv{
    display: flex;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 2em;
}

.apartado1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 1em;
}

.Imagenes1Div{
    display: flex;
    margin-left: 2em;
    margin-right: 5em;
}

#sala1{
    width: 50em;
    height: 30em;
}

.Texto1Div{
    display : block;
    margin-right: 5em;
    text-align: center;
}

h2{
    font-size: 2em;
    text-decoration: underline;
    color: #000000;
    margin-top: auto;
}

.Reservar1BotonDiv{
    width: fit-content;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 6em;
    height: 3em;
    border: 0.2em solid black; /* añade un borde negro de 2px */
}

.BotonReservar{
    color: #000000;
}

.apartado2{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: flex-start;
    margin-top: 3em;
    margin-bottom: 2em;
}

.Imagenes2Div{
    display: block;
    margin-left: 5em;
    margin-right: 2em;
}

#sala2{
    width: 50em;
    height: 30em;
}

.Texto2Div{
    display : block;
    margin-left: 5em;
    text-align: center;
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #000;
  }
  
tr{
    padding: 20px;
    border: 2px solid #000;
}

th{
    padding: 20px;
    border: 2px solid #000;
    background-color: antiquewhite;
}

td{
    padding: 20px;
    border: 2px solid #000;
}

#sala3{
    width: 50em;
    height: 30em;
}